wrapper/macos/build/
wrapper/macos/zh_CN.lproj/MainMenu.xib
wrapper/macos/zh_CN.lproj/MainMenu.nib
wrapper/macos/packaging/laipinyin-MacOS-2.0.zip
wrapper/macos/packaging/laipinyin/DownloadDataFiles/build/
wrapper/macos/packaging/laipinyin/build/
wrapper/macos/packaging/laipinyin_appcast.xml
wrapper/macos/laipinyin.xcodeproj/*.mode1v3
wrapper/macos/laipinyin.xcodeproj/*.pbxuser
wrapper/macos/laipinyin.xcodeproj/*.perspectivev3

